a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh 3vh;
  font-family: 'Roboto';
}

.ext-logo {
  width: 80%;
  margin-bottom: 9vh;
}

.jump-amount-slider {
  margin: 0 3vh 9vh 0;
}

.dev-tag {
  display: inline;
  font-family: "Playfair";
  font-style: italic;
}

.dev-tag:hover {
  border: 1px dotted black;
}